/* before and after element, the padding, margin, and box-sizing should be the same  */

*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    height: 600px;
    padding: 35px;
    background: #CCC;
    color: #131313;
}

h1 {
    margin: 15px 0;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
}

input {
    transition: 0.5s ease-in-out;
    margin: 10px 0;
    font-size: 18px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.11);
    border: none;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 35px 0;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}

label {
    font-size: 12px;
}

form {
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 370px;
    margin: 5px auto;
}

form button {
    background: rgb(55, 57, 66);
    width: 100%;
    margin: 5px 0;
    color: white;
}

form button:hover {
    background: rgb(21, 31, 77);
}

.start {
    background: rgb(19, 17, 17);
    color: white;
}

.rest {
    background: rgb(2, 58, 5);
    color: #000000;
}

.reset {
    background: rgb(0, 0, 0);
    color: white;
}

.clock {
    padding: 3px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 30%;
    font-size: 24px;
}

.progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: black
}

.progress-ring__circle {
    transition: 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: black;
}

.almost {
    stroke: rgb(243, 17, 28);
    animation: pulse 0.9s ease-in-out
}

.start:hover {
    background: rgba(68, 62, 62, 0.924);
    transition: 1ms;
}

.reset:hover {
    background: rgba(68, 62, 62, 0.924);
    transition: 1ms;
}

.rest:hover {
    background: rgba(68, 62, 62, 0.924);
    transition: 1ms;
}


/* at-rules that control how the pulse & screen styles are applied */

@keyframes pulse {
    0%,
    100% {
        transform: rotate(-90deg) scale(1);
    }
    50% {
        transform: rotate(-90deg) scale(1.05);
    }
    75% {
        transform: rotate(-90deg) scale(0.8);
    }
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-areas: "head head" "clock form" "btns ji";
    }
    .btn-group {
        grid-area: btns;
        justify-content: center;
    }
    .clock {
        grid-area: clock;
        height: 100%;
    }
    h1 {
        grid-area: head;
        align-self: center;
    }
    form {
        align-self: center;
        justify-self: center;
        grid-area: form;
        width: 50%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 375px) {
    form {
        height: 40%;
    }
    footer {
        position: static;
    }
}